In [1]:
import queries
import csv
import functions as fx

In [26]:
rankings = [5,4,3,2,1]
for ranking in rankings:
    query = queries.get_query_KevinRating(ranking)
    temp = (fx.connDBAndReturnDF(query))
    if (ranking == 5):
        fivestars = temp
    elif (ranking == 4):
        fourstars = temp.query("ID not in @fivestars")
    elif (ranking == 3):
        print(query)
        threestars = temp.query("ID not in @fourstars")
    elif (ranking == 2):
        twostars = temp.query("ID not in @threestars.ID")
    elif (ranking == 1):
        onestar = temp.query("ID not in @twostars")
    del temp

        SELECT
            *,
            3 as "KevinRating"
        FROM
            X_LinkedPLayers as a
                left join Positions as b
	                on a."Position" = b."Position"
        WHERE

                a.NCAAGamesPlayed >= 25

        ORDER BY
            a.Year;

In [25]:
threestars

,ID,IDYR,College,conference,Year,PlayerName,HighSchool,City,State,Position,...,AllConferenceTeam_Best,NCAAGamesPlayed,NCAAGamesStarted,AllAmerican_Best,KeyPosition,Position,StandardizedPosition,LongPositionName,KeyPositionGroup,KevinRating
0,codybrown_arkansasstate,codybrown_arkansasstate_2004,arkansasstate,sunbelt,2004,codybrown,East Mississippi C.C.,Scooba,MS,OL,...,NaN,25,25,NaN,24.0,OL,OL,Offensive Line,1.0,3
1,marlonwilliams_centralflorida,marlonwilliams_centralflorida_2005,centralflorida,american,2005,marlonwilliams,Reedley College,Reedley,CA,DB,...,NaN,46,16,NaN,27.0,DB,DB,Defensive Back,2.0,3
2,reggiewalker_kansasstate,reggiewalker_kansasstate_2005,kansasstate,bigtwelve,2005,reggiewalker,Grant Union,Sacramento,CA,LB,...,NaN,50,47,NaN,28.0,LB,LB,Linebacker,2.0,3
3,chrisjames_illinois,chrisjames_illinois_2006,illinois,bigten,2006,chrisjames,Morgan Park,Chicago,IL,WR,...,NaN,31,6,NaN,3.0,WR,WR,Wide Receiver,1.0,3
4,kylewilliams_arizonastate,kylewilliams_arizonastate_2006,arizonastate,pactwelve,2006,kylewilliams,Chaparral,Scottsdale,AZ,ATH,...,1.0,50,31,NaN,12.0,ATH,ATH,Athlete,4.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11884,zachjackson_louisianamonroe,None,louisianamonroe,None,2020,zachjackson,None,None,None,WR,...,NaN,29,8,NaN,3.0,WR,WR,Wide Receiver,1.0,3
11885,zachjohnson_kentucky,None,kentucky,None,2020,zachjohnson,None,None,None,DB,...,NaN,44,0,NaN,27.0,DB,DB,Defensive Back,2.0,3
11886,zachvonrosenberg_lsu,None,lsu,None,2020,zachvonrosenberg,None,None,None,PK,...,2.0,47,0,NaN,64.0,PK,PK,Punter/Kicker,3.0,3
11887,zaclefebvre_buffalo,None,buffalo,None,2020,zaclefebvre,None,None,None,TE,...,NaN,40,21,NaN,11.0,TE,TE,Tight End,1.0,3
11888,zanderhorvath_purdue,None,purdue,None,2020,zanderhorvath,None,None,None,RB,...,NaN,30,9,NaN,4.0,RB,RB,Running Back,1.0,3