# RecordLinkage Linking

> Leveraging the RL library to determine approximate matching over a range of fields using various methods.

In [1]:
import json
import pandas
import time
import os
import recordlinkage
import csv
import core_constants as cc
import functions as fx
from functools import reduce

#not currently using jellyfish
import jellyfish as jf

## Set up the Dataframes

In [2]:
outputDir = '..//scrapedData//'
field_agg = "_"

## Load the source file dict
sourceFiles = json.loads(open('..//config//sourceFiles.json', "r").read())

## Load the id config
idConfig = json.loads(open('..//config//idConfigLink.json', "r").read())

In [3]:
## Cycle through all of files per source and drop into a list of dicts
## Printing list names for reference sake
dfs = []
for key in sourceFiles.keys():
    vars()[key] = fx.mergeSourceFiles (key, outputDir, sourceFiles)    
    dfs.append(vars()[key])

In [4]:
fx.createNewID(idConfig['sports247'], sports247, field_agg)
fx.createNewID(idConfig['rivals'], rivals, field_agg)

['playerName', 'school', 'year']
['playerName', 'school', 'year']

In [5]:
df_sports247 = pandas.DataFrame(sports247)
df_rivals = pandas.DataFrame(rivals)

In [6]:
df_sports247 = pandas.DataFrame(sports247).set_index('ID')
df_rivals = pandas.DataFrame(rivals).set_index('ID')
df_sports247.index.name = '247_ID'
df_sports247.insert(0, 'ID', df_sports247.index)
df_rivals.index.name = 'rivals_ID'
df_rivals.insert(0, 'ID', df_rivals.index)

## Import the Pickle file

In [7]:
features = pandas.read_pickle("final_review.pkl")

In [ ]:
## This is absolutely necessary if you want to access the IDs through a dictionary.  
## Without it the 247_ID and rivals_ID won't carry forward
#features.reset_index(inplace=True)
#features.head()
#features = features.to_dict('records')

In [10]:
df_sports247.reset_index(inplace=True)

In [11]:
sportDict = df_sports247.to_dict('records')

In [12]:
finalSet = []
for record in sportDict:
    finalRecord = {}
    for key,value in record.items():
        finalRecord[key] = value
    
    try:
        multiResults = features.loc[features['247_ID'] == record['247_ID']]
        #print(multiResults['rivals'])
        rivalsID = multiResults['rivals'].values
        
        if (multiResults['ID'].max() == 1):
            finalRecord['confidence'] = 1
        else:
            finalRecord['confidence'] = multiResults['sum'].max()
    except Exception as e:
        #print(multiResults)
        #print(e)
        finalRecord['error'] = 'No feature found with that ID'

    try:
        #print(rivalsID)
        rivalsResult = (df_rivals.loc[df_rivals['ID'] == rivalsID[0]]).to_dict()
        for key, value in rivalsResult.items():
            finalRecord['r_' + key] = value[rivalsID[0]]
    except Exception as e:
        #print(e + ': ' + str(rivalsID[0]))
        finalRecord['error'] = 'No rivals match found'
    finalSet.append(finalRecord)

In [13]:
df_finalSet = pandas.DataFrame(finalSet)

In [14]:
df_finalSet['ID'] = df_finalSet['ID'].str[:-5]
df_finalSet.to_csv('review.csv')

In [15]:
summarizedDir = '..//summarizedData//'

## Load the source file dict
summarizedFiles = json.loads(open('..//config//summarizedFiles.json', "r").read())

In [16]:
dfs = []
keys = ['allConf','allAmerican','nflData','ncaa']
for key in keys:
    print(key)
    vars()[key] = pandas.DataFrame(json.loads(open(summarizedDir + summarizedFiles[key][0], "r", encoding="utf-8").read()))
    dfs.append(vars()[key])

allConf
allAmerican
nflData
ncaa

In [17]:
dfs.insert(0, df_finalSet)

In [18]:
df_final = reduce(lambda left,right: pandas.merge(left,right,how="left", on='ID'), dfs)
df_final.head()

,247_ID,ID,school,year,playerName,highSchool,city,state,position,height,...,draft_pick,team_y,pos,all_pros_first_team,pro_bowls,years_as_primary_starter,g,draft_year,ncaa_gamesPlayed,ncaa_gamesStarted
0,paulthurston_nebraska_2012,paulthurston_nebraska,nebraska,2012,paulthurston,Arvada West,Arvada,CO,OT,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gregmcmullen_nebraska_2012,gregmcmullen_nebraska,nebraska,2012,gregmcmullen,Archbishop Hoban,Akron,OH,SDE,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jordanwesterkamp_nebraska_2012,jordanwesterkamp_nebraska,nebraska,2012,jordanwesterkamp,Montini Catholic,Lombard,IL,WR,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,imanicross_nebraska_2012,imanicross_nebraska,nebraska,2012,imanicross,North Hall,Gainesville,GA,RB,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tommyarmstrong_nebraska_2012,tommyarmstrong_nebraska,nebraska,2012,tommyarmstrong,Steele,Cibolo,TX,DUAL,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
with open("..//linkedPlayers.csv", "w", encoding="utf-8") as write_file:
                write_file.write(df_final.to_csv())

In [20]:
print(dfs)

[                               247_ID                         ID    school  \
0          paulthurston_nebraska_2012      paulthurston_nebraska  nebraska
1          gregmcmullen_nebraska_2012      gregmcmullen_nebraska  nebraska
2      jordanwesterkamp_nebraska_2012  jordanwesterkamp_nebraska  nebraska
3            imanicross_nebraska_2012        imanicross_nebraska  nebraska
4        tommyarmstrong_nebraska_2012    tommyarmstrong_nebraska  nebraska
...                               ...                        ...       ...
50918         brettmedforth_troy_2013         brettmedforth_troy      troy
50919            cardelllue_troy_2013            cardelllue_troy      troy
50920             zachmoore_troy_2013             zachmoore_troy      troy
50921           sethroberts_troy_2013           sethroberts_troy      troy
50922          jalendaniels_troy_2013          jalendaniels_troy      troy

       year        playerName        highSchool         city state position  \
0      2012      paulthurston       Arvada West       Arvada    CO       OT
1      2012      gregmcmullen  Archbishop Hoban        Akron    OH      SDE
2      2012  jordanwesterkamp  Montini Catholic      Lombard    IL       WR
3      2012        imanicross        North Hall  Gainesville    GA       RB
4      2012    tommyarmstrong            Steele       Cibolo    TX     DUAL
...     ...               ...               ...          ...   ...      ...
50918  2013     brettmedforth     Sylacauga Sch    Sylacauga    AL       OG
50919  2013        cardelllue            Hebron   Carrollton    TX       CB
50920  2013         zachmoore            Coffee      Douglas    GA      ILB
50921  2013       sethroberts        Ariton Sch       Ariton    AL      WDE
50922  2013      jalendaniels      Dooly County       Vienna    GA      WDE

      height  ...   r_highSchool r_position  r_height r_weight r_stars  \
0         77  ...    Arvada West         OL      77.0    274.0     4.0
1         77  ...          Hoban         DE      77.0    255.0     4.0
2         73  ...        Montini         WR      74.0    195.0     4.0
3         73  ...     North Hall         RB      73.0    220.0     3.0
4         73  ...         Steele         QB      74.0    210.0     3.0
...      ...  ...            ...        ...       ...      ...     ...
50918     75  ...            NaN        NaN       NaN      NaN     NaN
50919     72  ...         Hebron         DB      72.0    185.0     2.0
50920     73  ...  Coffee County         LB      73.0    200.0     2.0
50921     76  ...         Ariton         DT      76.0    250.0     2.0
50922     75  ...   Dooly County         DE      75.0    205.0     2.0

      r_nationalRank r_positionRank  r_stateRank      r_displayName  \
0              147.0           14.0          3.0      Paul Thurston
1              192.0           12.0         11.0      Greg McMullen
2                NaN           43.0          8.0  Jordan Westerkamp
3                NaN           25.0         34.0        Imani Cross
4                NaN            9.0         49.0    Tommy Armstrong
...              ...            ...          ...                ...
50918            NaN            NaN          NaN                NaN
50919            NaN            NaN          NaN        Cardell Lue
50920            NaN            NaN          NaN         Zach Moore
50921            NaN            NaN          NaN       Seth Roberts
50922            NaN            NaN          NaN     Jaylen Daniels

                       error
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
50918  No rivals match found
50919                    NaN
50920                    NaN
50921                    NaN
50922                    NaN

[50923 rows x 40 columns],                              ID team
0             drewlock_missouri    1
1         jarrettstidham_auburn    1
2         kerryonjohnson_auburn    1
3         bennysnelljr_kentucky    2
4             nickchubb_georgia    2
...                         ...  ...
7326  aiaribigby_centralflorida    1
7327       jamusmartin_marshall    1
7328        curtishead_marshall    1
7329                          _
7330   firstnamelastname_school    T

[7331 rows x 2 columns],                                    ID  afca  ap  fwaa  tsn  wcff
0     carsonpalmer_southerncalifornia     0   1     1    1     0
1                   kendorsey_miamifl     1   0     0    0     1
2                      bradbanks_iowa     0   0     0    0     1
3              byronleftwich_marshall     0   0     0    0     0
4              larryjohnson_pennstate     1   1     1    1     1
...                               ...   ...  ..   ...  ...   ...
1007        jeremiahhaydel_texasstate     0   0     0    0     0
1008              marcusjones_houston     0   0     1    0     0
1009             chrissmith_louisiana     0   0     0    0     0
1010            kadariustoney_florida     0   0     0    0     0
1011         averywilliams_boisestate     1   0     1    1     1

[1012 rows x 6 columns],      draft_round draft_pick team pos all_pros_first_team pro_bowls  \
0              1          1  HOU  QB                   0         0
1              1          2  CAR  DE                   3         9
2              1          3  DET  QB                   0         0
3              1          4  BUF   T                   0         0
4              1          5  SDG  DB                   0         0
...          ...        ...  ...  ..                 ...       ...
4845           7        251  SEA  TE                   0         0
4846           7        252  DEN  WR                   0         0
4847           7        253  MIN   G                   0         0
4848           7        254  DEN  LB                   0         0
4849           7        255  NYG  LB                   0         0

     years_as_primary_starter    g                           ID draft_year
0                           5   94           davidcarr_fresnost       2002
1                          16  266  juliuspeppers_northcarolina       2002
2                           6   81        joeyharrington_oregon       2002
3                           4   59           mikewilliams_texas       2002
4                          10  183          quentinjammer_texas       2002
...                       ...  ...                          ...        ...
4845                        0    1          stephensullivan_lsu       2020
4846                        0   10       tyriecleveland_florida       2020
4847                        0               kylehinton_washburn       2020
4848                        0    9   derrektuszka_northdakotast       2020
4849                        1   11           taecrowder_georgia       2020

[4850 rows x 10 columns],                             ID  ncaa_gamesPlayed  ncaa_gamesStarted
0          thomasallen_indiana                24                  0
1      dominicaltimari_indiana                 0                  0
2        marcelinoball_indiana                41                 38
3           ryanbarnes_indiana                 9                  0
4       matthewbedford_indiana                16                 15
...                        ...               ...                ...
47170       martreztownes_troy                 5                  0
47171     wilsonvanhooser_troy                11                  0
47172          daronwhite_troy                11                  0
47173       aaronwilliams_troy                 8                  0
47174       chriswilliams_troy                12                  7

[47175 rows x 3 columns]]