# Strict Linking - ID

> This is very simple linking based on exact ID match between all of the datasets.

In [ ]:
import json
import pandas
import time
import os
import csv
from functools import reduce

### Load the Summarized Files

> These are files that only return ID + the fields that I want in the final printout

In [ ]:
summarizedDir = '..//summarizedData//'

## Load the source file dict
summarizedFiles = json.loads(open('..//config//summarizedFiles.json', "r").read())

### Process the Summarized Files

> We are going to put these files into a DataFrame and then add them all to a single list.  The print out then is all of the keys we are processing per the summarizedFiles.json file.

In [ ]:
dfs = []
for key in summarizedFiles.keys():
    print(key)
    vars()[key] = pandas.DataFrame(json.loads(open(summarizedDir + summarizedFiles[key][0], "r", encoding="utf-8").read()))
    dfs.append(vars()[key])

sports247
rivals
allConf
allAmerican
nflData
ncaa

### Run the Strict Linking on ID

> This is so cool - first time I've ever used lambda as well.  Compares each DFS by a similar field then joins them all into a single DF.  

###### Src: https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns

In [ ]:
df_final = reduce(lambda left,right: pandas.merge(left,right,how="left", on='ID'), dfs)
df_final.head()

,ID,playerName,year,college,highSchool,homeCity,homeState,position,height,weight,...,draft_pick,team_y,pos,all_pros_first_team,pro_bowls,years_as_primary_starter,g,draft_year,ncaa_gamesPlayed,ncaa_gamesStarted
0,paulthurston_nebraska,Paul Thurston,2012,nebraska,Arvada West,Arvada,CO,OT,77,275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gregmcmullen_nebraska,Greg McMullen,2012,nebraska,Archbishop Hoban,Akron,OH,SDE,77,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jordanwesterkamp_nebraska,Jordan Westerkamp,2012,nebraska,Montini Catholic,Lombard,IL,WR,73,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,imanicross_nebraska,Imani Cross,2012,nebraska,North Hall,Gainesville,GA,RB,73,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tommyarmstrong_nebraska,Tommy Armstrong,2012,nebraska,Steele,Cibolo,TX,DUAL,73,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Save it to a CSV

> Ideally this will all write to a db eventually but for now we are writing out to a CSV file for import to a stats program

In [ ]:
with open("..//linkedPlayers.csv", "w", encoding="utf-8") as write_file:
                write_file.write(df_final.to_csv())