# Strict Linking - ID

> This is very simple linking based on exact ID match between all of the datasets.

In [ ]:
import json
import pandas
import time
import os
import csv
from functools import reduce
import functions as fx
import core_constants as cc
import pandas as pd
import sqlite3 as sql

### Load the Summarized Files

> These are files that only return ID + the fields that I want in the final printout

In [ ]:
summarizedDir = '..//summarizedData//'

## Load the source file dict
summarizedFiles = json.loads(open('..//config//summarizedFiles.json', "r").read())

### Process the Summarized Files

> We are going to put these files into a DataFrame and then add them all to a single list.  The print out then is all of the keys we are processing per the summarizedFiles.json file.

1. Load IDs of target dataset, along with keydataset into separate dataframes
2. Use the code below to join the dataframes - there will be column name collisions
3. Take the dictionary - append the manual KeyLinkType, KeyDataSet, possibly a set Confidence level?
4. Insert the dictionary into the RecordLinks database table
5. Remove the CSV write
6. Figure out how Views work and make sure to trigger a rewrite of the view with all of the expected views of the final dataset

dfs = []
keys = ['Sports247', 'AllConference', 'AllAmerican', 'NFL', 'NCAA']
for item in keys:
    SQL_Query = 'SELECT ID, school FROM ' + item
    vars()[item] = fx.connDBAndReturnDF(SQL_Query)
    dfs.append(vars()[item])

In [ ]:
Sports247.head()

                          ID
0      paulthurston_nebraska
1      gregmcmullen_nebraska
2  jordanwesterkamp_nebraska
3        imanicross_nebraska
4    tommyarmstrong_nebraska

dfs = []
for key in summarizedFiles.keys():
    vars()[key] = pandas.DataFrame(json.loads(open(summarizedDir + summarizedFiles[key][0], "r", encoding="utf-8").read()))
    dfs.append(vars()[key])

### Run the Strict Linking on ID

> This is so cool - first time I've ever used lambda as well.  Compares each DFS by a similar field then joins them all into a single DF.  

###### Src: https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns

In [ ]:
df_final = reduce(lambda left,right: pandas.merge(left,right,how="left", on='ID'), dfs)
df_final.head()

### Save it to a CSV

> Ideally this will all write to a db eventually but for now we are writing out to a CSV file for import to a stats program

In [ ]:
with open("..//linkedPlayers.csv", "w", encoding="utf-8") as write_file:
                write_file.write(df_final.to_csv())

# SCRATCHPAD!

> The below needs to be cleaned up but it works and successfully writes out all fo the records to the RecordLinks table.

In [ ]:

conn = sql.connect(cc.databaseName)
c = conn.cursor()
print("Connected to SQLite")


keys = ['AllConference', 'AllAmerican', 'NFL', 'NCAA']
for key in keys:
    ## Get the KeyDataSet
    d_tuple = [key]
    dataset = c.execute('select KeyDataSet from DataSet where DataSet = ?', d_tuple)
    keydataset = c.fetchone()
    ## Load all of the IDs
    sqlite_select_query = """SELECT {}, s247.ID from {} inner join Sports247 s247 on {} = s247.ID""".format(key + '.ID', key, key + '.ID')
    data_tuple = [key + '.ID', key + '.ID']
    records = c.fetchall()
    print(len(records))
    
    ## Insert records into the RecordLinks table, 
    for record in records:
        sqlite_insert_query = """INSERT INTO RecordLinks
                              (MasterID, TargetID, KeyDataSet, KeyLinkType, LinkConfidence) 
                               VALUES 
                              (?,?,?,1,1);"""
        data_tuple = [record[1], record[0],keydataset[0]]
        count = c.execute(sqlite_insert_query, data_tuple)
        conn.commit()

Connected to SQLite
4
SELECT AllConference.ID, s247.ID from AllConference inner join Sports247 s247 on AllConference.ID = s247.ID
<sqlite3.Cursor object at 0x7fdb4367a420>
10069
6
SELECT AllAmerican.ID, s247.ID from AllAmerican inner join Sports247 s247 on AllAmerican.ID = s247.ID
<sqlite3.Cursor object at 0x7fdb4367a420>
845
3
SELECT NFL.ID, s247.ID from NFL inner join Sports247 s247 on NFL.ID = s247.ID
<sqlite3.Cursor object at 0x7fdb4367a420>
2272
5
SELECT NCAA.ID, s247.ID from NCAA inner join Sports247 s247 on NCAA.ID = s247.ID
<sqlite3.Cursor object at 0x7fdb4367a420>
63787