In [1]:
from bs4 import BeautifulSoup
from bs4.builder import TreeBuilder
from bs4 import UnicodeDammit
import requests
import lxml
import time
import os
import io
import json
import core_constants as cc
import string
import csv
import cleantext as clean
import pandas as pd
import sqlite3 as sql
import traceback
import recordlinkage
from recordlinkage.base import BaseCompareFeature
import functions as fx

In [2]:
import queries

In [3]:
df_247 = (fx.connDBAndReturnDF(queries.get_query_Transfers247(True))).set_index('IDYR')
df_247.index.name = '247_IDYR'
df_247

,ID,PlayerName,Year,College,HighSchool,City,State,Position,Height,Weight
247_IDYR,,,,,,,,,,
paulthurston_nebraska_2012,paulthurston_nebraska,paulthurston,2012,nebraska,Arvada West,Arvada,CO,OT,77.0,275.0
gregmcmullen_nebraska_2012,gregmcmullen_nebraska,gregmcmullen,2012,nebraska,Archbishop Hoban,Akron,OH,SDE,77.0,255.0
jordanwesterkamp_nebraska_2012,jordanwesterkamp_nebraska,jordanwesterkamp,2012,nebraska,Montini Catholic,Lombard,IL,WR,73.0,190.0
imanicross_nebraska_2012,imanicross_nebraska,imanicross,2012,nebraska,North Hall,Gainesville,GA,RB,73.0,222.0
tommyarmstrong_nebraska_2012,tommyarmstrong_nebraska,tommyarmstrong,2012,nebraska,Steele,Cibolo,TX,DUAL,73.0,200.0
...,...,...,...,...,...,...,...,...,...,...
dondrellharris_troy_2013,dondrellharris_troy,dondrellharris,2013,troy,Rutherford,Panama City,FL,DUAL,72.0,182.0
jordanchunn_troy_2013,jordanchunn_troy,jordanchunn,2013,troy,Madison County,Gurley,AL,FB,72.0,211.0
bryanslater_troy_2013,bryanslater_troy,bryanslater,2013,troy,St. Paul's Episcopal,Mobile,AL,SDE,74.0,255.0
clarkquisenberry_troy_2013,clarkquisenberry_troy,clarkquisenberry,2013,troy,Enterprise,Enterprise,AL,WR,75.0,205.0
xavierfields_troy_2013,xavierfields_troy,xavierfields,2013,troy,Stanhope Elmore,Millbrook,AL,OG,76.0,335.0